/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-100{
    width: 100%;
}

.padding-1{
    padding: 1em;
}

.ml-2{
    margin-left: 2em;
}


.mt-2{
    margin-top: 2em;
}